<div class="panel-heading">
    <h4><b>Listing Categories</b></h4>
</div>
<!-- /.panel-heading -->
<div class="panel-body">
    <%= render 'index_table', @categories => @categories %>
</div>
<!-- /.panel-body -->